img {
    width: 150px;
    height: 150px;
    padding: 4px;
    margin-top: 32px;
    margin-left: 19px;
}
nav {
    text-align: center;
}
h1 {
    margin: auto;
}
h3 {
    margin: auto;
    text-align: center;
}